.fast-part{
    font-family: 'Roboto', sans-serif;
    
      background-image: url(images/donation13.jpg);
       background-repeat: no-repeat;
       background-size: 150%;
       margin: 0%;
}
.part-d{
    text-align: center;
    color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 30px;
    padding-bottom: 50px;
    

}
.text-align{
    text-align: center;   
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 5px 30px;
}
.text-color{
    color: black;
}
button{
    text-size-adjust:50px;
    color: red;
    bottom: unset;
    padding: 5px 5px; margin-right: 10px;
}
#button-1{
    background-color: royalblue;
}
input{
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.flex{
    display: flex;
    background-size: 70%;
    width: 100%;
    padding: 10px 10px;
}
#back-color-1{
    background-color: rgb(146, 202, 202);
    margin: 10px;
    padding: 5px 5px;
}
#back-color-2{
    background-color: rgb(233, 119, 119);
    margin: 10px;
    padding: 5px 5px;
}
#back-color-3{
    background-color: rgb(204, 148, 63);
    margin: 10px;
    padding: 5px 5px;
}
footer{
    color: aliceblue;
    text-align: center;
    background-color: black;
}